In [1]:
import pandas as pd

In [18]:
# Current season Roster Power Index(RPI) from PES Database.
# Each data is used to predict each season.
# For example, use pes14 to predict (train) 14/15 season.
# Merge pes14 data with epl_table_1314 table in order to predict EPL 14/15 season.
pes14 = pd.read_csv('./Data/PES14.csv')

In [19]:
pes14.head()

                Team  Ovr  Def  Mid  Fwd  Phy  Spd
0            Chelsea   86   87   85   87   81   78
1    Manchester City   86   85   86   92   82   79
2  Manchester United   85   83   85   89   79   78
3            Arsenal   84   84   85   82   78   80
4  Tottenham Hotspur   83   80   83   84   80   79

In [20]:
# Past season RPI from past season.
epl_table_1314 = pd.read_csv('./Data/epl_table_1314.csv')

In [34]:
epl_table_1314.sort_values(by='PTS', ascending=False).head()

,Team,P,W,D,L,GF,GA,HW,HGF,HGA,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
9,Manchester City,38,27,5,6,102,37,17,63,13,...,24,86,2.107023,1.718062,0.572687,0.802676,72,1,1.000000,16
8,Liverpool,38,26,6,6,101,50,16,53,18,...,32,84,1.772575,2.114537,0.792952,1.070234,53,1,0.750000,10
3,Chelsea,38,25,7,6,71,27,15,43,11,...,16,82,1.438127,1.233480,0.484581,0.535117,54,3,0.868421,18
0,Arsenal,38,24,7,7,68,41,13,36,11,...,30,79,1.204013,1.409692,0.484581,1.003344,51,4,0.881579,17
5,Everton,38,21,9,8,61,39,13,38,19,...,20,72,1.270903,1.013216,0.837004,0.668896,54,1,0.763158,15

In [22]:
epl_table_1415 = pd.read_csv('./Data/epl_table_1415.csv')

In [33]:
epl_table_1415.sort_values(by='PTS', ascending=False).head()

,Team,P,W,D,L,GF,GA,HW,HGF,HGA,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
3,Chelsea,38,26,9,3,73,32,15,36,9,...,23,87,1.285714,1.783133,0.433735,0.821429,72,4,1.157895,17
9,Manchester City,38,24,7,7,83,38,14,44,14,...,24,79,1.571429,1.879518,0.674699,0.857143,75,2,1.092105,14
0,Arsenal,38,22,9,7,71,36,12,41,14,...,22,75,1.464286,1.445783,0.674699,0.785714,67,2,0.986842,13
10,Manchester Utd,38,20,10,8,62,37,14,41,15,...,22,70,1.464286,1.012048,0.722892,0.785714,62,5,1.078947,11
17,Tottenham,38,19,7,12,58,53,10,31,24,...,29,64,1.107143,1.301205,1.156627,1.035714,78,4,1.236842,9

In [38]:
pd.merge(pes14, epl_table_1314, on='Team', how='outer').sort_values(by='Team')

,Team,Ovr,Def,Mid,Fwd,Phy,Spd,P,W,D,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
3,Arsenal,84.0,84.0,85.0,82.0,78.0,80.0,38.0,24.0,7.0,...,30.0,79.0,1.204013,1.409692,0.484581,1.003344,51.0,4.0,0.881579,17.0
18,Aston Villa,79.0,79.0,79.0,81.0,78.0,79.0,38.0,10.0,8.0,...,32.0,38.0,0.735786,0.748899,1.277533,1.070234,78.0,0.0,1.026316,9.0
16,Cardiff City,79.0,78.0,79.0,79.0,77.0,77.0,38.0,7.0,9.0,...,39.0,30.0,0.668896,0.528634,1.541850,1.304348,49.0,1.0,0.697368,7.0
0,Chelsea,86.0,87.0,85.0,87.0,81.0,78.0,38.0,25.0,7.0,...,16.0,82.0,1.438127,1.233480,0.484581,0.535117,54.0,3.0,0.868421,18.0
15,Crystal Palace,79.0,79.0,79.0,78.0,78.0,76.0,38.0,13.0,6.0,...,25.0,45.0,0.602007,0.660793,1.013216,0.836120,59.0,2.0,0.881579,12.0
10,Everton,80.0,81.0,83.0,79.0,79.0,77.0,38.0,21.0,9.0,...,20.0,72.0,1.270903,1.013216,0.837004,0.668896,54.0,1.0,0.763158,15.0
12,Fulham,80.0,80.0,80.0,84.0,78.0,76.0,38.0,9.0,5.0,...,47.0,32.0,0.802676,0.704846,1.674009,1.571906,56.0,1.0,0.789474,5.0
19,Hull City,79.0,78.0,78.0,80.0,78.0,76.0,38.0,10.0,7.0,...,32.0,37.0,0.668896,0.792952,0.925110,1.070234,52.0,4.0,0.894737,10.0
5,Liverpool,82.0,82.0,82.0,83.0,80.0,79.0,38.0,26.0,6.0,...,32.0,84.0,1.772575,2.114537,0.792952,1.070234,53.0,1.0,0.750000,10.0
1,Manchester City,86.0,85.0,86.0,92.0,82.0,79.0,38.0,27.0,5.0,...,24.0,86.0,2.107023,1.718062,0.572687,0.802676,72.0,1.0,1.000000,16.0
2,Manchester United,85.0,83.0,85.0,89.0,79.0,78.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Manchester Utd,NaN,NaN,NaN,NaN,NaN,NaN,38.0,19.0,7.0,...,22.0,64.0,0.969900,1.541850,0.925110,0.735786,64.0,3.0,1.000000,13.0
7,Newcastle United,81.0,81.0,80.0,82.0,79.0,79.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Newcastle Utd,NaN,NaN,NaN,NaN,NaN,NaN,38.0,15.0,4.0,...,31.0,49.0,0.769231,0.881057,1.233480,1.036789,51.0,6.0,0.986842,10.0
14,Norwich City,79.0,80.0,79.0,80.0,78.0,77.0,38.0,8.0,9.0,...,44.0,33.0,0.568562,0.484581,0.792952,1.471572,61.0,2.0,0.907895,12.0
9,Southampton,80.0,81.0,78.0,80.0,79.0,75.0,38.0,15.0,11.0,...,23.0,56.0,1.070234,0.969163,1.013216,0.769231,60.0,0.0,0.789474,15.0
6,Stoke City,81.0,79.0,80.0,82.0,81.0,76.0,38.0,13.0,11.0,...,35.0,50.0,0.903010,0.792952,0.748899,1.170569,69.0,5.0,1.171053,9.0
11,Sunderland,80.0,79.0,81.0,81.0,78.0,77.0,38.0,10.0,8.0,...,33.0,38.0,0.702341,0.881057,1.189427,1.103679,67.0,7.0,1.250000,11.0
17,Swansea City,79.0,78.0,80.0,80.0,77.0,77.0,38.0,11.0,9.0,...,28.0,42.0,1.103679,0.925110,1.145374,0.936455,53.0,3.0,0.855263,8.0
22,Tottenham,NaN,NaN,NaN,NaN,NaN,NaN,38.0,21.0,6.0,...,28.0,69.0,1.003344,1.101322,1.013216,0.936455,66.0,4.0,1.078947,14.0
4,Tottenham Hotspur,83.0,80.0,83.0,84.0,80.0,79.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,West Bromwich,NaN,NaN,NaN,NaN,NaN,NaN,38.0,7.0,15.0,...,32.0,36.0,0.802676,0.837004,1.189427,1.070234,67.0,0.0,0.881579,7.0
13,West Bromwich Albion,80.0,79.0,81.0,78.0,79.0,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,West Ham United,80.0,80.0,80.0,82.0,80.0,77.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,West Ham Utd,NaN,NaN,NaN,NaN,NaN,NaN,38.0,11.0,7.0,...,25.0,40.0,0.836120,0.660793,1.145374,0.836120,59.0,5.0,1.039474,14.0